/* @import "./base.css"; */

a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
i {
  font-style: normal;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  width: 100%;
  max-width: 720px;
  color: #333;
  margin: auto;
}
